@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --theme-color:rgb(37,99,235)
}
::selection{
  background-color:var(--theme-color);
  color:white
}

.imp::after{
  content:"*";
  color:var(--theme-color);
}